body 
	{background-color:lightblue;}


	#second
	{	border-bottom-style: dotted;
	border-bottom-width: thin;;
	border-left-style: solid;
	border-right-style: solid;
	border-top-style: dashed;
	border-top-width: thin;
	color: green;}
	
	#a
		{	border-bottom-style: dotted;
	border-bottom-width: thin;;
	border-left-style: solid;
	border-right-style: solid;
	border-top-style: dashed;
	border-top-width: thin;
	color:gold; }
	color:gold;; }
	