.relative{
			position: relative;
			top: 30px;
			left:30px;
			width: 300px;
			border:solid;}
.absolute{
				position: absolute;
				height: 200px;
				width: 300px;
				border:solid;
				border-color: darkblue;}
.fixed{
		position: fixed;
		bottom: 00px;
		right: 20px;
		border:solid;
		border-color:red;}