.page {
	position:absolute;
	
}


.Banner{
	position: relative;
	top:10px;
}


.Banner img{
	position:absolute;
	width: 1280px;
	height: 400px;
	top:2px;
}


	
.Wolfstein
	{
	position:relative;
	top:412px;
	}
.Injustice_2{
	position:relative;
	top:412px;
	}
}
	
@keyframes xfade{
	0%{
			opacity: 1;
	}
	12,5%{
			opacity: 1;
	}
	15%{
			opacity: 0;
	}
	96%{
			opacity: 0;
	}
	100%{
			opacity: 1
	}
}

.Banner img:nth-child(8){
	animation: xfade 120s 0s infinite;}
.Banner img:nth-child(7){
	animation: xfade 120s 15s infinite;}
.Banner img:nth-child(6){
	animation: xfade 120s 30s infinite;}
.Banner img:nth-child(5){
	animation: xfade 120s 45s infinite;}
.Banner img:nth-child(4){
	animation: xfade 120s 60s infinite;}
.Banner img:nth-child(3){
	animation: xfade 120s 75s infinite;}
.Banner img:nth-child(2){
	animation: xfade 120s 90s infinite;}
.Banner img:nth-child(1){
	animation: xfade 120s 105s infinite;}
