body{background-image: url(./image/injustice2.jpg);
	background-position: absolute;
	background-repeat: no-repeat;
	width:1200px
	background-position: center;
    	background-repeat: no-repeat;
    	background-size: cover;}
p{font-size:25px;}
