#box1 {
			width:500px;
			margin:0 auto;
			border-width:5px;
			border-style:solid;
			}

#box2 {
			width:500px;
			margin:0 auto;
			padding:50px;
			border-width:5px;
			border-style:solid;
			}
*{
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		}																																														