body{background-attachment: fixed;
background-color: #aaccdd;
background-position: center;
background-repeat: no-repeat;
text-align: center;
text-shadow:1px 1px 4px white;}

p{display: inline-block;}

