body{background-color: blueviolet;
height: 100%;
margin:0;
padding: 0;
 }
 div {
            width: 100%;
            height: 100%;
            max-height: 100%;
            margin: 0;
            padding: 0;
            background-image:url("2.jpeg");
            background-size:100% 100%;
            background-repeat: no-repeat;
        }
h1{position: absolute;
left: 60px;
bottom: 500px;}
img{position: absolute;
bottom: 500px;
left: 60px;
}