img{
	height: 45px;
	width: 45px;
	}
	li{
		display: inline;
		}
.container{
	position: relative;}
.container img{
	position: absolute;
	width: 400px;
	height: 200px;}

@keyframes xfade{
	0%{
			opacity: 1;
	}
	12.5%{
			opacity: 1;
	}
	13%{
			opacity: 0;
	}
	99,5%{
			opacity: 0;
	}
	100%{
			opacity: 1
	}
}

.container img:nth-child(8){
	animation: xfade 40s 0s infinite;}
.container img:nth-child(7){
	animation: xfade 40s 5s infinite;}
.container img:nth-child(6){
	animation: xfade 40s 10s infinite;}
.container img:nth-child(5){
	animation: xfade 40s 15s infinite;}
.container img:nth-child(4){
	animation: xfade 40s 20s infinite;}
.container img:nth-child(3){
	animation: xfade 40s 25s infinite;}
.container img:nth-child(2){
	animation: xfade 40s 30s infinite;}
.container img:nth-child(1){
	animation: xfade 40s 35s infinite;}